* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
}
.root {
	display: "block";
	margin: "40px";
	position: "relative";
}
.card {
	border: "1px solid #ccc";
	border-radius: "8px";
	padding: "10px"; 
	background-color: "#111"/*"#bada55";*/
}
.card-image{
	border-radius: 2px;
	width: 350px;
	height: 400px;
}